﻿@model IEnumerable<MODELO.sp_listaAlumnos_Result>

@{
    ViewBag.Title = "ListaAlumnos";
}

<h2>ListaAlumnos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- //INICIO PARA EXPORTAR REPORTE CON SIN FILTRO-->
<div class="form-group"><a href="@Url.Action("ExportReport")" class="btn btn-primary"> Generar Reporte</a></div>
<!-- //FIN PARA EXPORTAR REPORTE CON SIN FILTRO-->

<!-- //INICIO PARA EXPORTAR REPORTE CON 1 FILTRO-->
<div class="form-group">
    @using (Html.BeginForm("ReporteParametros", "Alumno"))
    {
        <div class="form-group">
            <input type="text" name="IdPais" id="IdPais" placeholder="ID PAIS" class="form-control"/>
            <input type="submit" name="enviar" value="GENERAR REPORTE" id="enviar" class="btn btn-default"/>
        </div>
    }
</div>
<!-- //FIN PARA EXPORTAR REPORTE CON 1 FILTRO-->

<!-- //INICIO PARA EXPORTAR REPORTE CON 2 FILTROS-->
<div class="form-group">
    @using (Html.BeginForm("ReporteParametros2", "Alumno"))
    {
        <div class="form-group">
            <input type="text" name="Codigo" id="Codigo" placeholder="CODIGO" class="form-control" />
            <input type="text" name="IdPais" id="IdPais" placeholder="ID PAIS" class="form-control" />
            <input type="submit" name="enviar" value="GENERAR REPORTE" id="enviar" class="btn btn-default" />
        </div>
    }
</div>
<!-- //FIN PARA EXPORTAR REPORTE CON 2 FILTROS-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProfesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProfesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPais)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
